<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .space-right {
            margin-right: 15px;
        }
    </style>

</head>

<body class="bg-dark text-light">
    <div class="container mt-5">
        <h1>Cadastro link</h1>
        <div class="mt-5">
            <form action="/" method="POST">
                <div class="row d-flex">
                    <input name="title" placeholder="Title" class="field form-control form-control-sm col space-right"
                        required>
                    <input name="description" placeholder="Description"
                        class="field form-control form-control-sm col space-right">
                    <input name="url" placeholder="URL" class="field form-control form-control-sm col space-right"
                        required>
                    <button class="btn btn-success col">Salvar</button>
                </div>
            </form>

        </div>

    </div>

</body>

</html>
